#contact h2{
    font-size: 4.8rem;
    color: $C4;
}

#contact-form{
    width: 70%;
	margin: 0 auto;
	text-align: left;
}

.form-group{
	border-bottom: 1px solid $C7;
	padding-bottom: 1rem;
    margin-bottom: 4rem;
    input{
        @include form1;
    }
    textarea{
        @include form1;
    }
}