#about{
	background-color: $C6;
    color: $C2;
    h2{
        font-size: 4.8rem;
    }
}
#about-text{
	text-align: left;
    font-size: 2rem;
    .left{
        @include about1 ;
    }
    .right{
        @include about1 ;
    }
}