.educations {
    position: relative;
    width: 100%;
    max-height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 25px;
    .educationcard {
        position: relative;
        max-width: 300px;
        height: 215px;
        background: rgb(18, 124, 124);
        margin: 30px 60px;
        padding: 30px 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px $C7;
        transition: 0.3s ease-in-out;
        &:hover {
            height: 420px;
            .contents {
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
                transition-delay: 0.3s;
              }
          }
          .educationbox {
            position: relative;
            width: 260px;
            height: 260px;
            top: -60px;
            left: 20px;
            z-index: 1;
            box-shadow: 0 5px 20px $C7;
            img {
                max-width: 100%;
                border-radius: 4px;
              }
          }
          .contents {
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: $C7;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
          }
      }
  }